<div class="row ithenticate-section" data-status-url="{{ ithenticate_status_url }}"  data-report-url = "{{ ithenticate_report_url }}">
    <label class="element">iThenticate</label>
    <div class="element">
        <a class="ithenticate-upload-btn" style="display: block;" href="javascript:void(0);" data-upload-url="{{ ithenticate_upload_url }}">Upload File</a>
        <div class="ithenticate-message"></div>
    </div>
</div>

<div id="preparing-upload-ithenticate" title="Preparing upload..." style="display: none;">
    File uploading to iThenticate server. Please wait ...
    <div class="ui-progressbar-value ui-corner-left ui-corner-right" style="width: 100%; height:22px; margin-top: 20px;"></div>
</div>
